@{
    ViewBag.Title = "Saiba Mais - Autores";
    ViewBag.Author = "Fabio Massaretto";
}

<div class="container-fluid">
    <div id="div-action-title" class="full-width-div">
        <h2>Saiba Mais - Autores</h2>
    </div>

    <div class="main-content">
        <div id="help-content">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/Img/Help/Authors.png" alt="...">
                </div>
                <div class="media-body">
                    Nossos instrutores são altamente qualificados com várias certificações além da experiência
                    profissional, que garante que os conteúdos selecionados sejam explicados de forma prática e
                    de fácil entendimento. Se ao final de cada vídeo permanecer alguma dúvida, é possível enviar
                    as dúvidas para os instrutores, que responderão assim que possível. Ao final de cada curso é
                    possível fazer uma prova para verificar se o conteúdo foi assimilado de forma correta.
                </div>
            </div>
        </div>
    </div>
</div>