@{
    ViewBag.Title = "Saiba Mais - Atinja suas metas";
    ViewBag.Author = "Fabio Massaretto";
}

<div class="container-fluid">
    <div id="div-action-title" class="full-width-div">
        <h2>Saiba Mais - Atinja suas metas</h2>
    </div>

    <div class="main-content">
        <div id="help-content">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/Img/Help/trophy.png" alt="...">
                </div>
                <div class="media-body">
                    Neste espaço você poderá ampliar cada vez mais seu conhecimento e seu desenvolvimento
                    acadêmico, de forma prática e fácil, e muitas vezes no conforto do seu lar. Para empresas seus
                    funcionários de qualquer turno podem ter fácil acesso aos conteúdos e podem estudar no
                    horário que seja mais compatível com a rotina.
                    Assista as aulas e ganhe pontos por cada capítulo finalizado. A quantidade de pontos que você
                    acumula poderá liberar mais cursos.
                </div>
            </div>
        </div>
    </div>

</div>
