@{
    ViewBag.Title = "Saiba Mais - Nossas Trilhas";
    ViewBag.Author = "Fabio Massaretto";
}

<div class="container-fluid">
    <div id="div-action-title" class="full-width-div">
        <h2>Saiba Mais - Nossas Trilhas</h2>
    </div>

    <div class="main-content">
        <div id="help-content">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/Img/Help/road.png" alt="...">
                </div>
                <div class="media-body">
                    As trilhas proporcionam um fácil acesso aos cursos do mesmo assunto facilitando sua busca,
                    também auxiliando o gestor que pode solicitar que um funcionário siga uma trilha de
                    determinado assunto como parte do seu treinamento. Também existe a trilha criada pelo
                    usuário onde é possível inserir cursos de assuntos variados que seja do seu interesse,
                    criando o seu próprio caminho de estudo. Sempre deixando de fácil acesso os cursos que
                    são de seu interesse.
                </div>
            </div>
        </div>
    </div>
</div>
