<div id="carousel-index" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Img/eLearning.png" alt="...">
        </div>
        <div class="item">
            <img src="~/Content/Img/6-elearning-best-practices-r100.png" alt="...">
        </div>
    </div>
</div>
