@model IEnumerable<Fatec.Treinamento.Model.Assunto>

<li>@Html.ActionLink("Todos os cursos", "Index", "Cursos")</li>
<li role="separator" class="divider"></li>
<li class="dropdown-header">ASSUNTOS</li>
@foreach (var item in Model)
{
    <li>@Html.ActionLink(item.Nome, "Assunto", "Cursos", new { Id = item.Id }, null) </li>
}

