@*@model IEnumerable<Fatec.Treinamento.Web.Models.CursoCapVideoViewModel>*@
@*@model IEnumerable<Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario>*@

@{
    ViewBag.Title = "Assunto";
    ViewBag.Author = "Fabio Massaretto";
}

<div class="container-fluid">
    <div id="div-action-title" class="full-width-div">
        <h2>Assunto - @TempData["NomeAssunto"]</h2>
    </div>

    @Html.Partial("_ListagemCursos")

</div>

