@*@model IEnumerable <Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario>*@
@model IEnumerable<Fatec.Treinamento.Model.Detalhe>

@{
    ViewBag.Title = "Detalhe";
}

@foreach (var item in Model)
{
    <div class="container-fluid">
        <div id="div-detalhe" class="full-width-div img-div">
            <div class="container">
            
                    <h1>@item.Nome</h1>
            
            
                <p class="lead">
                    Por: @item.NomeAutor
                </p>
            </div>
        </div>
        <main>
            <div class="rowDetalhe">
                <div class="col-md-8">
                    <div class="detalhe-descricao">
                        <h3>Descrição do Curso</h3>
                        <p>@item.Descricao</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="menu-detalhe">
                        <div class="list-group" id="list-content">
                            @if (Request.IsAuthenticated)
                            {
                                <button type="button" id="btn-comecar" class="list-group-item">COMEÇAR CURSO</button>/**/
                            }
                            else
                            {
                                <button type="button" id="btn-comecar-invalido" class="list-group-item disabled">COMEÇAR CURSO</button>/**/
                            }
                            <text class="list-group-item">Numero de capítulos: <span class="badge">X</span></text>
                            <text class="list-group-item">Pontos adquiridos nesse curso: <span class="badge">X</span></text>
                            <div class="spacer"></div>
                            @Html.ActionLink("Voltar aos Cursos", "Index", "CursoController", new { @class = "list-group-item"})
                            @*<text class="list-group-item"><span class="glyphicon glyphicon-triangle-left"></span> Voltar aos Cursos</text>*@
                        </div>
                    </div>
                </div>
            </div>
        </main>
    
    </div>
}


