@model IEnumerable<Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario>
@{
    ViewBag.Title = "Todos os Cursos";
}
<div class="container-fluid">
    <div id="div-action-title" class="full-width-div">
        <h2>Todos os Cursos (@Model.Count() Cursos)</h2>
    </div>

    @Html.Partial("_ListagemCursos")

</div>