@model IEnumerable<Fatec.Treinamento.Model.DTO.AssuntoCursoUsuario>

@{
    ViewBag.Title = "Pesquisar";
    ViewBag.Author = "Fabio Massaretto";
}

<div class="container-fluid">
    <div id="div-action-title" class="full-width-div">
        <h2>Pesquisar</h2>
    </div>
    @Html.Partial("_ListagemCursos")
</div>