USE [master]
GO
/****** Object:  Database [Treinamento]    Script Date: 2/16/2017 12:05:30 PM ******/
CREATE DATABASE [Treinamento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Treinamento', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Treinamento_Primary.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Treinamento_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Treinamento_Primary.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Treinamento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Treinamento]
GO
/****** Object:  Table [dbo].[Assunto]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Assunto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
 CONSTRAINT [PK_Assunto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Capitulo]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Capitulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[IdCurso] [int] NOT NULL,
	[Pontos] [int] NOT NULL,
 CONSTRAINT [PK_Capitulo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Curso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[IdAutor] [int] NOT NULL,
	[IdAssunto] [int] NOT NULL,
	[Classificacao] [int] NULL,
	[DataCriacao] [datetime] NOT NULL CONSTRAINT [DF_Curso_DataCriacao]  DEFAULT (getdate()),
	[Nivel] [varchar](50) NULL,
	[Img] [varchar](100) NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Curso_Classificacao]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso_Classificacao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCurso] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Nota] [int] NULL,
 CONSTRAINT [PK_Curso_Classificacao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Curso_Descricao]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Curso_Descricao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](500) NULL,
	[IdCurso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Documento]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Documento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCurso] [int] NOT NULL,
	[Descricao] [varchar](max) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[Arquivo] [varbinary](max) NULL,
 CONSTRAINT [PK_Documento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Funcionalidade]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Funcionalidade](
	[Id] [int] NOT NULL,
	[Nome] [varchar](50) NULL,
 CONSTRAINT [PK_Funcionalidade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Perfil](
	[Id] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Permissao]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissao](
	[IdPerfil] [int] NOT NULL,
	[IdFuncionalidade] [int] NOT NULL,
 CONSTRAINT [PK_Permissao] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC,
	[IdFuncionalidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treinamento]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treinamento](
	[IdUsuario] [int] NOT NULL,
	[IdCurso] [int] NOT NULL,
	[DataInicio] [datetime] NOT NULL CONSTRAINT [DF_Treinamento_DataInicio]  DEFAULT (getdate()),
	[UltimoAcesso] [datetime] NOT NULL,
	[DataConclusao] [datetime] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Treinamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treinamento_Capitulo]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treinamento_Capitulo](
	[IdUsuario] [int] NOT NULL,
	[IdCurso] [int] NOT NULL,
	[IdCapitulo] [int] NOT NULL,
	[Pontos] [int] NOT NULL,
	[DataConclusao] [datetime] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Treinamento_Capitulo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trilha]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trilha](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Ativa] [bit] NOT NULL CONSTRAINT [DF_Trilha_Ativa]  DEFAULT ((1)),
 CONSTRAINT [PK_Trilha] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Trilha_Curso]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trilha_Curso](
	[IdTrilha] [int] NOT NULL,
	[IdCurso] [int] NOT NULL,
 CONSTRAINT [PK_Trilha_Curso] PRIMARY KEY CLUSTERED 
(
	[IdTrilha] ASC,
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Senha] [varchar](100) NOT NULL,
	[Ativo] [bit] NOT NULL CONSTRAINT [DF_Usuario_Ativo]  DEFAULT ((1)),
	[IdPerfil] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Video]    Script Date: 2/16/2017 12:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Video](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](80) NOT NULL,
	[Duracao] [int] NOT NULL,
	[IdCapitulo] [int] NOT NULL,
	[CodigoVideo] [varchar](100) NULL,
	[Thumbnail] [varchar](200) NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[Assunto] ON 

INSERT [dbo].[Assunto] ([Id], [Nome]) VALUES (2, N'Finanças')
INSERT [dbo].[Assunto] ([Id], [Nome]) VALUES (3, N'SQL Server')
INSERT [dbo].[Assunto] ([Id], [Nome]) VALUES (4, N'ASP.NET')
SET IDENTITY_INSERT [dbo].[Assunto] OFF
SET IDENTITY_INSERT [dbo].[Capitulo] ON 

INSERT [dbo].[Capitulo] ([Id], [Nome], [IdCurso], [Pontos]) VALUES (1, N'Intro', 1, 5)
INSERT [dbo].[Capitulo] ([Id], [Nome], [IdCurso], [Pontos]) VALUES (2, N'Conceitos basicos', 1, 3)
INSERT [dbo].[Capitulo] ([Id], [Nome], [IdCurso], [Pontos]) VALUES (3, N'Linguagem sql', 1, 6)
SET IDENTITY_INSERT [dbo].[Capitulo] OFF
SET IDENTITY_INSERT [dbo].[Curso] ON 

INSERT [dbo].[Curso] ([Id], [Nome], [IdAutor], [IdAssunto], [Classificacao], [DataCriacao], [Nivel], [Img]) VALUES (1, N'Introdução ao SQL Server', 1, 3, 4, CAST(N'2017-01-12 00:00:00.000' AS DateTime), N'Intermediário', N'/Content/Img/Introducao ao Sql Server/sqlserver.png')
INSERT [dbo].[Curso] ([Id], [Nome], [IdAutor], [IdAssunto], [Classificacao], [DataCriacao], [Nivel], [Img]) VALUES (2, N'Como fazer o apontamento de horas', 3, 5, 4, CAST(N'2017-01-06 00:00:00.000' AS DateTime), N'Iniciante', N'/Content/Img/Como fazer apontamento de horas/Planilha-de-Controle-de-Ponto.jpg')
INSERT [dbo].[Curso] ([Id], [Nome], [IdAutor], [IdAssunto], [Classificacao], [DataCriacao], [Nivel], [Img]) VALUES (3, N'Web API', 2, 4, 4, CAST(N'2017-01-12 00:00:00.000' AS DateTime), N'Avançado', N'/Content/Img/WebApi/WebAPI-CacheCow.png')
SET IDENTITY_INSERT [dbo].[Curso] OFF
SET IDENTITY_INSERT [dbo].[Curso_Classificacao] ON 

INSERT [dbo].[Curso_Classificacao] ([Id], [IdCurso], [IdUsuario], [Nota]) VALUES (1, 1, 1, 4)
INSERT [dbo].[Curso_Classificacao] ([Id], [IdCurso], [IdUsuario], [Nota]) VALUES (2, 1, 2, 5)
INSERT [dbo].[Curso_Classificacao] ([Id], [IdCurso], [IdUsuario], [Nota]) VALUES (3, 1, 3, 4)
SET IDENTITY_INSERT [dbo].[Curso_Classificacao] OFF
SET IDENTITY_INSERT [dbo].[Curso_Descricao] ON 

INSERT [dbo].[Curso_Descricao] ([Id], [Descricao], [IdCurso]) VALUES (1, N'Introdução ao SQL Server é um curso que mostra como utilizar e a lingaguem necessária para criar scripts de banco de dados', 1)
INSERT [dbo].[Curso_Descricao] ([Id], [Descricao], [IdCurso]) VALUES (2, N'Como fazer o apontamento de horas é um curso que irá ensina-lo a utilizar o sistema ', 2)
INSERT [dbo].[Curso_Descricao] ([Id], [Descricao], [IdCurso]) VALUES (3, N'Web API é um curso que ensinará como utilizar corretamente as APIs no desenvolvimento', 3)
SET IDENTITY_INSERT [dbo].[Curso_Descricao] OFF
INSERT [dbo].[Funcionalidade] ([Id], [Nome]) VALUES (1, N'Cadastrar Curso')
INSERT [dbo].[Funcionalidade] ([Id], [Nome]) VALUES (2, N'Manutenção Usuarios')
INSERT [dbo].[Perfil] ([Id], [Nome]) VALUES (1, N'Administrador')
INSERT [dbo].[Perfil] ([Id], [Nome]) VALUES (2, N'Usuario')
INSERT [dbo].[Perfil] ([Id], [Nome]) VALUES (3, N'Instrutor')
INSERT [dbo].[Permissao] ([IdPerfil], [IdFuncionalidade]) VALUES (1, 1)
INSERT [dbo].[Permissao] ([IdPerfil], [IdFuncionalidade]) VALUES (1, 2)
INSERT [dbo].[Permissao] ([IdPerfil], [IdFuncionalidade]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[Treinamento] ON 

INSERT [dbo].[Treinamento] ([IdUsuario], [IdCurso], [DataInicio], [UltimoAcesso], [DataConclusao], [Id]) VALUES (1, 5, CAST(N'2017-02-11 22:59:52.353' AS DateTime), CAST(N'2017-01-03 00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Treinamento] ([IdUsuario], [IdCurso], [DataInicio], [UltimoAcesso], [DataConclusao], [Id]) VALUES (5, 3, CAST(N'2017-02-11 11:59:50.317' AS DateTime), CAST(N'2017-01-10 00:00:00.000' AS DateTime), CAST(N'2017-01-16 00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Treinamento] ([IdUsuario], [IdCurso], [DataInicio], [UltimoAcesso], [DataConclusao], [Id]) VALUES (3, 4, CAST(N'2017-02-11 11:28:11.800' AS DateTime), CAST(N'2017-02-11 11:28:11.800' AS DateTime), NULL, 4)
SET IDENTITY_INSERT [dbo].[Treinamento] OFF
SET IDENTITY_INSERT [dbo].[Treinamento_Capitulo] ON 

INSERT [dbo].[Treinamento_Capitulo] ([IdUsuario], [IdCurso], [IdCapitulo], [Pontos], [DataConclusao], [id]) VALUES (1, 2, 5, 5, CAST(N'2017-01-02 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Treinamento_Capitulo] ([IdUsuario], [IdCurso], [IdCapitulo], [Pontos], [DataConclusao], [id]) VALUES (1, 2, 6, 3, CAST(N'2017-01-03 00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Treinamento_Capitulo] ([IdUsuario], [IdCurso], [IdCapitulo], [Pontos], [DataConclusao], [id]) VALUES (5, 1, 1, 5, CAST(N'2017-01-03 00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Treinamento_Capitulo] OFF
SET IDENTITY_INSERT [dbo].[Trilha] ON 

INSERT [dbo].[Trilha] ([Id], [Nome], [Ativa]) VALUES (1, N'Trilha de Integração', 1)
INSERT [dbo].[Trilha] ([Id], [Nome], [Ativa]) VALUES (2, N'Trilha Técnica', 1)
INSERT [dbo].[Trilha] ([Id], [Nome], [Ativa]) VALUES (3, N'Diversos', 1)
SET IDENTITY_INSERT [dbo].[Trilha] OFF
INSERT [dbo].[Trilha_Curso] ([IdTrilha], [IdCurso]) VALUES (1, 2)
INSERT [dbo].[Trilha_Curso] ([IdTrilha], [IdCurso]) VALUES (1, 4)
INSERT [dbo].[Trilha_Curso] ([IdTrilha], [IdCurso]) VALUES (2, 1)
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nome], [Email], [Senha], [Ativo], [IdPerfil]) VALUES (1, N'Fernando Barbieri', N'fbarbieri@live.com', N'4QrcOUm6Wau+VuBX8g+IPg==', 1, 1)
INSERT [dbo].[Usuario] ([Id], [Nome], [Email], [Senha], [Ativo], [IdPerfil]) VALUES (2, N'Fernando Mendes', N'fmendes@viceri.com.br', N'4QrcOUm6Wau+VuBX8g+IPg==', 1, 2)
INSERT [dbo].[Usuario] ([Id], [Nome], [Email], [Senha], [Ativo], [IdPerfil]) VALUES (3, N'Mariane Castellano', N'mcastellano@viceri.com.br', N'4QrcOUm6Wau+VuBX8g+IPg==', 1, 2)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET IDENTITY_INSERT [dbo].[Video] ON 

INSERT [dbo].[Video] ([Id], [Nome], [Duracao], [IdCapitulo], [CodigoVideo], [Thumbnail]) VALUES (1, N'Instalação do SQL Server 2012 Express Edition', 180, 1, N'xJYl1TgNd_Y', NULL)
INSERT [dbo].[Video] ([Id], [Nome], [Duracao], [IdCapitulo], [CodigoVideo], [Thumbnail]) VALUES (2, N'1 - T-SQL - Introdução e grupos de comandos', 90, 1, N'2kWoPT-6JqA', NULL)
INSERT [dbo].[Video] ([Id], [Nome], [Duracao], [IdCapitulo], [CodigoVideo], [Thumbnail]) VALUES (3, N'2 - T-SQL - Bancos de Dados, SGBDR, Tipos de Dados', 60, 2, N'pCpr4gRjBsI', NULL)
SET IDENTITY_INSERT [dbo].[Video] OFF
ALTER TABLE [dbo].[Documento] ADD  CONSTRAINT [DF_Documento_DataCadastro]  DEFAULT (getdate()) FOR [DataCadastro]
GO
ALTER TABLE [dbo].[Capitulo]  WITH CHECK ADD  CONSTRAINT [FK_Capitulo_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([Id])
GO
ALTER TABLE [dbo].[Capitulo] CHECK CONSTRAINT [FK_Capitulo_Curso]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Assunto] FOREIGN KEY([IdAssunto])
REFERENCES [dbo].[Assunto] ([Id])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Assunto]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Usuario] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Usuario]
GO
ALTER TABLE [dbo].[Curso_Classificacao]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Classificacao_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([Id])
GO
ALTER TABLE [dbo].[Curso_Classificacao] CHECK CONSTRAINT [FK_Curso_Classificacao_Curso]
GO
ALTER TABLE [dbo].[Curso_Classificacao]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Classificacao_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Curso_Classificacao] CHECK CONSTRAINT [FK_Curso_Classificacao_Usuario]
GO
ALTER TABLE [dbo].[Curso_Descricao]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Descricao_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([Id])
GO
ALTER TABLE [dbo].[Curso_Descricao] CHECK CONSTRAINT [FK_Curso_Descricao_Curso]
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD  CONSTRAINT [FK_Documento_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([Id])
GO
ALTER TABLE [dbo].[Documento] CHECK CONSTRAINT [FK_Documento_Curso]
GO
ALTER TABLE [dbo].[Permissao]  WITH CHECK ADD  CONSTRAINT [FK_Permissao_Funcionalidade] FOREIGN KEY([IdFuncionalidade])
REFERENCES [dbo].[Funcionalidade] ([Id])
GO
ALTER TABLE [dbo].[Permissao] CHECK CONSTRAINT [FK_Permissao_Funcionalidade]
GO
ALTER TABLE [dbo].[Permissao]  WITH CHECK ADD  CONSTRAINT [FK_Permissao_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([Id])
GO
ALTER TABLE [dbo].[Permissao] CHECK CONSTRAINT [FK_Permissao_Perfil]
GO
ALTER TABLE [dbo].[Treinamento]  WITH CHECK ADD  CONSTRAINT [FK_Treinamento_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([Id])
GO
ALTER TABLE [dbo].[Treinamento] CHECK CONSTRAINT [FK_Treinamento_Curso]
GO
ALTER TABLE [dbo].[Treinamento]  WITH CHECK ADD  CONSTRAINT [FK_Treinamento_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Treinamento] CHECK CONSTRAINT [FK_Treinamento_Usuario]
GO
ALTER TABLE [dbo].[Treinamento_Capitulo]  WITH CHECK ADD  CONSTRAINT [FK_Treinamento_Capitulo_Capitulo] FOREIGN KEY([IdCapitulo])
REFERENCES [dbo].[Capitulo] ([Id])
GO
ALTER TABLE [dbo].[Treinamento_Capitulo] CHECK CONSTRAINT [FK_Treinamento_Capitulo_Capitulo]
GO
ALTER TABLE [dbo].[Treinamento_Capitulo]  WITH CHECK ADD  CONSTRAINT [FK_Treinamento_Capitulo_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([Id])
GO
ALTER TABLE [dbo].[Treinamento_Capitulo] CHECK CONSTRAINT [FK_Treinamento_Capitulo_Curso]
GO
ALTER TABLE [dbo].[Treinamento_Capitulo]  WITH CHECK ADD  CONSTRAINT [FK_Treinamento_Capitulo_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Treinamento_Capitulo] CHECK CONSTRAINT [FK_Treinamento_Capitulo_Usuario]
GO
ALTER TABLE [dbo].[Trilha_Curso]  WITH CHECK ADD  CONSTRAINT [FK_Trilha_Curso_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([Id])
GO
ALTER TABLE [dbo].[Trilha_Curso] CHECK CONSTRAINT [FK_Trilha_Curso_Curso]
GO
ALTER TABLE [dbo].[Trilha_Curso]  WITH CHECK ADD  CONSTRAINT [FK_Trilha_Curso_Trilha] FOREIGN KEY([IdTrilha])
REFERENCES [dbo].[Trilha] ([Id])
GO
ALTER TABLE [dbo].[Trilha_Curso] CHECK CONSTRAINT [FK_Trilha_Curso_Trilha]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Perfil]
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD  CONSTRAINT [FK_Video_Capitulo] FOREIGN KEY([IdCapitulo])
REFERENCES [dbo].[Capitulo] ([Id])
GO
ALTER TABLE [dbo].[Video] CHECK CONSTRAINT [FK_Video_Capitulo]
GO
USE [master]
GO
