USE [Treinamento]GOSET NOCOUNT ONSET IDENTITY_INSERT [dbo].[Assunto] ONMERGE INTO [dbo].[Assunto] AS TargetUSING (VALUES  (2,'Finanças') ,(3,'SQL Server') ,(4,'ASP.NET') ,(5,'Sistema de Apontamento de Horas') ,(6,'RH') ,(7,'Diversos') ,(8,'VENDAS')) AS Source ([Id],[Nome])ON (Target.[Id] = Source.[Id])WHEN MATCHED AND (
	NULLIF(Source.[Nome], Target.[Nome]) IS NOT NULL OR NULLIF(Target.[Nome], Source.[Nome]) IS NOT NULL) THEN UPDATE SET  [Nome] = Source.[Nome]WHEN NOT MATCHED BY TARGET THEN INSERT([Id],[Nome]) VALUES(Source.[Id],Source.[Nome])WHEN NOT MATCHED BY SOURCE THEN  DELETE;GODECLARE @mergeError int , @mergeCount intSELECT @mergeError = @@ERROR, @mergeCount = @@ROWCOUNTIF @mergeError != 0 BEGIN PRINT 'ERROR OCCURRED IN MERGE FOR [dbo].[Assunto]. Rows affected: ' + CAST(@mergeCount AS VARCHAR(100)); -- SQL should always return zero rows affected ENDELSE BEGIN PRINT '[dbo].[Assunto] rows affected by MERGE: ' + CAST(@mergeCount AS VARCHAR(100)); ENDGOSET IDENTITY_INSERT [dbo].[Assunto] OFFGOSET NOCOUNT OFFGO