USE [Treinamento]GOSET NOCOUNT ONSET IDENTITY_INSERT [dbo].[Capitulo] ONMERGE INTO [dbo].[Capitulo] AS TargetUSING (VALUES  (1,'Intro',1,5) ,(2,'Conceitos basicos',1,3) ,(3,'Linguagem sql',1,6) ,(4,'Comandos DDL',1,5) ,(5,'Intro',2,5) ,(6,'Apontamento diario',2,5) ,(7,'Como fazer o relatório mensal',2,3)) AS Source ([Id],[Nome],[IdCurso],[Pontos])ON (Target.[Id] = Source.[Id])WHEN MATCHED AND (
	NULLIF(Source.[Nome], Target.[Nome]) IS NOT NULL OR NULLIF(Target.[Nome], Source.[Nome]) IS NOT NULL OR 
	NULLIF(Source.[IdCurso], Target.[IdCurso]) IS NOT NULL OR NULLIF(Target.[IdCurso], Source.[IdCurso]) IS NOT NULL OR 
	NULLIF(Source.[Pontos], Target.[Pontos]) IS NOT NULL OR NULLIF(Target.[Pontos], Source.[Pontos]) IS NOT NULL) THEN UPDATE SET  [Nome] = Source.[Nome], 
  [IdCurso] = Source.[IdCurso], 
  [Pontos] = Source.[Pontos]WHEN NOT MATCHED BY TARGET THEN INSERT([Id],[Nome],[IdCurso],[Pontos]) VALUES(Source.[Id],Source.[Nome],Source.[IdCurso],Source.[Pontos])WHEN NOT MATCHED BY SOURCE THEN  DELETE;GODECLARE @mergeError int , @mergeCount intSELECT @mergeError = @@ERROR, @mergeCount = @@ROWCOUNTIF @mergeError != 0 BEGIN PRINT 'ERROR OCCURRED IN MERGE FOR [dbo].[Capitulo]. Rows affected: ' + CAST(@mergeCount AS VARCHAR(100)); -- SQL should always return zero rows affected ENDELSE BEGIN PRINT '[dbo].[Capitulo] rows affected by MERGE: ' + CAST(@mergeCount AS VARCHAR(100)); ENDGOSET IDENTITY_INSERT [dbo].[Capitulo] OFFGOSET NOCOUNT OFFGO