USE [Treinamento]GOSET NOCOUNT ONMERGE INTO [dbo].[Treinamento_Capitulo] AS TargetUSING (VALUES  (5,1,1,5,'2017-01-03T00:00:00') ,(5,1,2,6,'2017-01-10T00:00:00') ,(5,1,3,4,'2017-01-13T00:00:00') ,(5,1,4,7,'2017-01-15T00:00:00') ,(1,2,5,5,'2017-01-02T00:00:00') ,(1,2,6,3,'2017-01-03T00:00:00')) AS Source ([IdUsuario],[IdCurso],[IdCapitulo],[Pontos],[DataConclusao])ON (Target.[IdCapitulo] = Source.[IdCapitulo] AND Target.[IdCurso] = Source.[IdCurso] AND Target.[IdUsuario] = Source.[IdUsuario])WHEN MATCHED AND (
	NULLIF(Source.[Pontos], Target.[Pontos]) IS NOT NULL OR NULLIF(Target.[Pontos], Source.[Pontos]) IS NOT NULL OR 
	NULLIF(Source.[DataConclusao], Target.[DataConclusao]) IS NOT NULL OR NULLIF(Target.[DataConclusao], Source.[DataConclusao]) IS NOT NULL) THEN UPDATE SET  [Pontos] = Source.[Pontos], 
  [DataConclusao] = Source.[DataConclusao]WHEN NOT MATCHED BY TARGET THEN INSERT([IdUsuario],[IdCurso],[IdCapitulo],[Pontos],[DataConclusao]) VALUES(Source.[IdUsuario],Source.[IdCurso],Source.[IdCapitulo],Source.[Pontos],Source.[DataConclusao])WHEN NOT MATCHED BY SOURCE THEN  DELETE;GODECLARE @mergeError int , @mergeCount intSELECT @mergeError = @@ERROR, @mergeCount = @@ROWCOUNTIF @mergeError != 0 BEGIN PRINT 'ERROR OCCURRED IN MERGE FOR [dbo].[Treinamento_Capitulo]. Rows affected: ' + CAST(@mergeCount AS VARCHAR(100)); -- SQL should always return zero rows affected ENDELSE BEGIN PRINT '[dbo].[Treinamento_Capitulo] rows affected by MERGE: ' + CAST(@mergeCount AS VARCHAR(100)); ENDGOSET NOCOUNT OFFGO