USE [Treinamento]GOSET NOCOUNT ONMERGE INTO [dbo].[Treinamento] AS TargetUSING (VALUES  (5,1,'2016-12-06T00:00:00','2017-01-10T00:00:00','2017-01-16T00:00:00') ,(1,2,'2017-01-01T00:00:00','2017-01-03T00:00:00',NULL)) AS Source ([IdUsuario],[IdCurso],[DataInicio],[UltimoAcesso],[DataConclusao])ON (Target.[IdCurso] = Source.[IdCurso] AND Target.[IdUsuario] = Source.[IdUsuario])WHEN MATCHED AND (
	NULLIF(Source.[DataInicio], Target.[DataInicio]) IS NOT NULL OR NULLIF(Target.[DataInicio], Source.[DataInicio]) IS NOT NULL OR 
	NULLIF(Source.[UltimoAcesso], Target.[UltimoAcesso]) IS NOT NULL OR NULLIF(Target.[UltimoAcesso], Source.[UltimoAcesso]) IS NOT NULL OR 
	NULLIF(Source.[DataConclusao], Target.[DataConclusao]) IS NOT NULL OR NULLIF(Target.[DataConclusao], Source.[DataConclusao]) IS NOT NULL) THEN UPDATE SET  [DataInicio] = Source.[DataInicio], 
  [UltimoAcesso] = Source.[UltimoAcesso], 
  [DataConclusao] = Source.[DataConclusao]WHEN NOT MATCHED BY TARGET THEN INSERT([IdUsuario],[IdCurso],[DataInicio],[UltimoAcesso],[DataConclusao]) VALUES(Source.[IdUsuario],Source.[IdCurso],Source.[DataInicio],Source.[UltimoAcesso],Source.[DataConclusao])WHEN NOT MATCHED BY SOURCE THEN  DELETE;GODECLARE @mergeError int , @mergeCount intSELECT @mergeError = @@ERROR, @mergeCount = @@ROWCOUNTIF @mergeError != 0 BEGIN PRINT 'ERROR OCCURRED IN MERGE FOR [dbo].[Treinamento]. Rows affected: ' + CAST(@mergeCount AS VARCHAR(100)); -- SQL should always return zero rows affected ENDELSE BEGIN PRINT '[dbo].[Treinamento] rows affected by MERGE: ' + CAST(@mergeCount AS VARCHAR(100)); ENDGOSET NOCOUNT OFFGO