USE [Treinamento]GOSET NOCOUNT ONSET IDENTITY_INSERT [dbo].[Trilha] ONMERGE INTO [dbo].[Trilha] AS TargetUSING (VALUES  (1,'Trilha de Integração',1) ,(2,'Trilha Técnica',1) ,(3,'Diversos',1) ,(4,'Triha FrontEnd',1) ,(5,'Trilha DB',1) ,(6,'Trilha Web',1) ,(7,'Trilha Raspberry PI',1) ,(8,'Trilha Financeiro',0) ,(9,'Trilha Vendas',1)) AS Source ([Id],[Nome],[Ativa])ON (Target.[Id] = Source.[Id])WHEN MATCHED AND (
	NULLIF(Source.[Nome], Target.[Nome]) IS NOT NULL OR NULLIF(Target.[Nome], Source.[Nome]) IS NOT NULL OR 
	NULLIF(Source.[Ativa], Target.[Ativa]) IS NOT NULL OR NULLIF(Target.[Ativa], Source.[Ativa]) IS NOT NULL) THEN UPDATE SET  [Nome] = Source.[Nome], 
  [Ativa] = Source.[Ativa]WHEN NOT MATCHED BY TARGET THEN INSERT([Id],[Nome],[Ativa]) VALUES(Source.[Id],Source.[Nome],Source.[Ativa])WHEN NOT MATCHED BY SOURCE THEN  DELETE;GODECLARE @mergeError int , @mergeCount intSELECT @mergeError = @@ERROR, @mergeCount = @@ROWCOUNTIF @mergeError != 0 BEGIN PRINT 'ERROR OCCURRED IN MERGE FOR [dbo].[Trilha]. Rows affected: ' + CAST(@mergeCount AS VARCHAR(100)); -- SQL should always return zero rows affected ENDELSE BEGIN PRINT '[dbo].[Trilha] rows affected by MERGE: ' + CAST(@mergeCount AS VARCHAR(100)); ENDGOSET IDENTITY_INSERT [dbo].[Trilha] OFFGOSET NOCOUNT OFFGO