USE [Treinamento]GOSET NOCOUNT ONMERGE INTO [dbo].[Trilha_Curso] AS TargetUSING (VALUES  (2,1) ,(1,2) ,(2,3) ,(1,4) ,(3,5)) AS Source ([IdTrilha],[IdCurso])ON (Target.[IdCurso] = Source.[IdCurso] AND Target.[IdTrilha] = Source.[IdTrilha])WHEN NOT MATCHED BY TARGET THEN INSERT([IdTrilha],[IdCurso]) VALUES(Source.[IdTrilha],Source.[IdCurso])WHEN NOT MATCHED BY SOURCE THEN  DELETE;GODECLARE @mergeError int , @mergeCount intSELECT @mergeError = @@ERROR, @mergeCount = @@ROWCOUNTIF @mergeError != 0 BEGIN PRINT 'ERROR OCCURRED IN MERGE FOR [dbo].[Trilha_Curso]. Rows affected: ' + CAST(@mergeCount AS VARCHAR(100)); -- SQL should always return zero rows affected ENDELSE BEGIN PRINT '[dbo].[Trilha_Curso] rows affected by MERGE: ' + CAST(@mergeCount AS VARCHAR(100)); ENDGOSET NOCOUNT OFFGO