USE [Treinamento]GOSET NOCOUNT ONMERGE INTO [dbo].[Usuario_Perfil] AS TargetUSING (VALUES  (1,1) ,(2,1) ,(1,2) ,(3,2) ,(4,2) ,(5,3)) AS Source ([IdUsuario],[IdPerfil])ON (Target.[IdPerfil] = Source.[IdPerfil] AND Target.[IdUsuario] = Source.[IdUsuario])WHEN NOT MATCHED BY TARGET THEN INSERT([IdUsuario],[IdPerfil]) VALUES(Source.[IdUsuario],Source.[IdPerfil])WHEN NOT MATCHED BY SOURCE THEN  DELETE;GODECLARE @mergeError int , @mergeCount intSELECT @mergeError = @@ERROR, @mergeCount = @@ROWCOUNTIF @mergeError != 0 BEGIN PRINT 'ERROR OCCURRED IN MERGE FOR [dbo].[Usuario_Perfil]. Rows affected: ' + CAST(@mergeCount AS VARCHAR(100)); -- SQL should always return zero rows affected ENDELSE BEGIN PRINT '[dbo].[Usuario_Perfil] rows affected by MERGE: ' + CAST(@mergeCount AS VARCHAR(100)); ENDGOSET NOCOUNT OFFGO