html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
    padding-top: 50px;
    
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:20px;
}

/* INICIO css dos cursos*/

.search-content{
    background-color:white;
    left: 50%;
    margin-left: -500px; /* A metade de sua largura. */
    padding-bottom:70px;
    position: relative;
    width: 1000px;
}

.search-results-rows{
    margin-left:5%;
    margin-right:5%;
    background:#fff;
    border-bottom:solid;
    border-bottom-color:aquamarine;
    border-bottom-width:2px;
}

.search-results-rows:hover{
    background:#ebedee;
}

.search-result__title, .search-result__details {
    padding-left:40px;
}

.search-result__title{
    margin-top:5px;
}

.search-result__title a{
    font-size:18px;
    font-weight:400;
    color:#000;
    line-height:25px;
}

.search-result__details{
    margin-top:5px;
    margin-bottom:5px;
    color:#888;
    font-weight:200;
    font-size:12px;
}

.search-result__details>div{
    float:left;
    font-size:12px;
    font-weight:400;
    margin-right:20px;
}

.search-result__details a{
    color:#888;
}

.clearfix:before .clearfix:after{
    content:" ";
    display:table;
}
.clearfix:after{
    clear:both;
}
/* FIM css dos cursos*/


/* INICIO css dos carousel*/
.carouse-div{
    position:inherit;
    width:100%;
    height:100%;
    max-height: 200px;

    
    left:0;
    top:0;
}

.carouse-div > #carousel-index{
    position:inherit;
    width:100%;
    
    max-height: 200px;
    margin:0;
    padding:0;
    
    left:0;
    top:0;
}

.carouse-div > .carousel > .carousel-inner > .item > img{
    min-width: 100%;
    height: 100%;
    min-height:400px;
    max-height: 400px;
}
/* FIM css do carousel*/

/* INICIO css do Painel*/
.painel-container{
    position:relative;
    display:block;
    width: 100%;
    height: 100%;
}

.painel-content{
    background-color: #284960;
}

.painel-title{  
    background-color: #313540;
    width: 100%;
    height: 90px;
    border-radius: 5px;
    padding-left: 20px;    
}

.painel-title h2, .painel-title h5{
    color: white;
}

.painel-saudacao{
    width: 85%;
    float: left;
}

.painel-pontos{ 
    display:block; 
    background-color:#2c3e50;
    border-left: 3px dashed;
    border-left-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 15%;  
    height: 100%;
    float: right;
}

.painel-pontos-inner, .painel-pontos-blw-text, .painel-pontos-abv-text{
    display:block;
    height:17px;
    text-align:center;
    color:white;
}

.painel-pontos-inner > h5{
    font-size:30px;
    font-weight:bolder;
}

.vSpacer{
    display:block;
    background-color:#252830;
    width:100%;
    height: 10px;
}

.painel-main{
    background-color:#313540;
    width:100%;
    height:100%;
}

.painel-main h3{
    color:#fff;
}

.bar{
    margin-left: -15px;
    margin-right:50%;
    border-top: 1px solid #252830;
}

.item-container{
    margin-left:20px;
    margin-right:20px;
}

.item-title{
    padding-top:1px;
    margin-left: 40px;
}

.item-content{
    padding-top:20px;
}

.item-card{
    padding:5px;
    margin:5px;
    width: 150px;
    width: 100px;
    background-color:#252830;
    border: 2px solid;
}

.item-card:hover{
    background-color:#313540;
    border: 2px solid;
}

.item-card-text{
    text-align:center;
}

#inline-itens-card > .item-card{
    display:inline-block;
}


.painel-content-title{
    position: absolute;
    margin-left:60px;
    margin-right:60px;
}

.gerenciar-content-title > h3{
    color:#fff;
}

.gerenciar-content-body{

    background-color:red;
    width:100%;
    height:200px;
}
/* FIM css do painel*/

#btn-comecar{
    background-color:#15a589;
    text-align: center;
    color: white;
}

#btn-comecar-invalido{
    background-color:#15a589;
    text-align: center;
    color: white;
}

#btn-comecar:hover{
    background-color:#306f69;
    text-align: center;
    color: white;
}

.link-format{
    text-decoration: none;
    text-decoration-style:none;
    color:blue;
}

.link-format:hover{
    text-decoration: none;
    text-decoration-style:none;
    color: red;
}

.spacer{
    display:block;
    width:100%;
    height:150px;

    border-style: solid;
    border-width:1px;
    border-color: #ecf0f1;

}

/*.img-div:not(.container){
    background-image: url('/Content/Img/e-learning1menor.jpg');
    background-repeat:no-repeat;
    background-size:cover;
   opacity: 0.1;
    filter: alpha(opacity=10); 
}*/


.img-div{
    background-image: url('/Content/Img/e-learning1menor.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
}

.img-div:before{
    background: rgba(0,0,0,0.6);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.detalhe-descricao{
    margin-top: 40px;
    word-wrap: break-word;
}

.word-wrap{
    word-wrap: break-word;
}

@media screen AND (max-width: 992px) {
    .detalhe-descricao{
        margin-top: 300px;
    }
    #div-action-title {
        width:100%;
    }
}

@media screen AND (max-width: 425px) {
    #banner-inicio .container .lead{
        font-size:1em;
    }

    #div-action-title {
        width:100%;
    }
}

@media screen AND (max-width: 320px) {
    #div-action-title {
        width:100%;
    }
}


@media screen AND (width: 768px) {
    #detalhes-inicio .col-md-4{
        margin-left:100px;
        margin-right:100px;
    }
}

#gradient-bg{
    background-color:aliceblue;
}

#div-detalhe{
    background-color: #222;
    color: #fff;
    height: 330px;
    text-align:center;
    padding-top:100px;
    border-radius: 0;
    margin-top: -35px;
}

#div-detalhe h1{
    color:#fff;
    position: relative;
}

#div-detalhe p{
    color:#fff;
    position: relative;
}

#detalhes-inicio .col-md-4{
    display:block;
    padding-top: 90PX;
    padding-left:50px;
    padding-right:50px;
    height:430px;
}


#detalhes-inicio .col-md-4 p a {
    position:absolute;
    text-align:center;
    bottom:0;
}

#detalhes-inicio .col-md-4 p{
    display:grid;
    text-align:justify;
}

#div-action-title{
    top: 60px;
    height:75px;
    /*position:fixed;*/
    background-color:#33444F;
    background: linear-gradient(to top, rgba(51, 68, 79, 0.1) 20%, rgba(51,68,79,0.9) 7%);
    transition: opacity 0.1s, transform 0.9s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transform: scale(1);
}

#div-action-title h2{
    color:#fff;
    padding-left:30px;
}

.main-content{
    width: 100%;
    position:relative;
    display:block;
    padding-top: 70px;
}

.main-video-content{
    width: 100%;
    position:relative;
    display:block;
}

.assistir-curso-titulo{
    color: #c8cbad;
}

.curso-side-title{
    width:100%;
    height:40px;
    display:block;
    background-color: red;
    color:#fff;
}

.capitulo{
    background-color:#c8cbad;
}

.capitulos-player{
    margin-top: 0px;
}

.capitulos-player .video{
    color: #fff;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}


.capitulos-player .video a{
    color: #c8cbad;
    text-decoration:none; !important;
}

.capitulos-player .video a:hover{
    color: #fff;
    text-decoration:none; !important;
}



.video-hide{
    display:none;
}

.video-show{
    
}

.video-link {
    display:inline-block;
}


.video .selecionado{
    color: #ff2f00;
    border-left: 2px solid #ff2f00;
}

.video .selecionado a{
    color: #ff2f00; !important;
}

.video .selecionado a:hover{
    color: #ff2f00; !important;
}

.capitulos-player .video:hover{
    background-color: #2f3238;
}

.modal-content{
    text-align:center;
}

#login-content{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -15rem;
    margin-top: -20.5rem;
    width: 50rem;
    height: 53rem;
    overflow: hidden;
}

#login-content h2 h4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selecionar-curso {
    height: 200px !important;
}

.checkbox span{
    display:inline-block;
    width:30px;
} 
    

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

#detalhes-inicio{
    margin-top:300px;
}

.rowDetalhe {
    margin-top: 270px;
    margin-left: 10px;
    margin-right: 10px;
}

#banner-inicio{
    background-color: #222;
    color: #fff;
    height: 400px;
    text-align:center;
    padding-top:100px;
    border-radius: 0;
    margin-top: -25px;
}

#banner-inicio h1{
    color:#fff;
}

.navbar-brand{
    color:#fff;
    font-size: 18px;
    margin-top: -5px;
    margin-right: 0;
    line-height: 32px;
    vertical-align:middle;
    display:inline-block;
}

.navbar-brand .glyphicon{
    font-size:32px;
    vertical-align: middle;
    margin-right: 10px;
}


.navbar-inverse .navbar-brand {
    color:#fff;
}


.home-search-form {
    margin-right: 10px;
}

.btn-search {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse{
    background-color:#23303a;
}

.navbar-nav > li > a {
    font-size: 16px;
}

#txtPesquisaCurso{
    background-color: rgba(255, 255, 255, 0.06);
    color:#fff;
    border: none;   
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ecf0f1;
  color: #2c3e50;
  padding-top: 20px;
}


#detalhes-inicio div{
    text-align:center;
}

#detalhes-inicio div .glyphicon{
    font-size: 50px;
    color: #15a589;
}

.aoxo{
    
    font-family: verdana;
}

.aoxo .a{
    color: #15a589;
}

.aoxo .o{
    color:#d3532a;
}
.aoxo .x{
    color: #748fbf;
}
.aoxo .q{
    color: #ce88de;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #15a589;
}

.navbar-inverse .navbar-link:hover {
    color: #15a589;
}