html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
    padding-top: 50px;
    
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

#detalhes-inicio{
    margin-top:440px;
}

#banner-inicio{
    background-color: #222;
    color: #fff;
    height: 400px;
    text-align:center;
    padding-top:100px;
    border-radius: 0;
    margin-top: -25px;
}

#banner-inicio h1{
    color:#fff;
}

.navbar-brand{
    color:#fff;
    font-size: 18px;
    margin-top: -5px;
    margin-right: 0;
    line-height: 32px;
    vertical-align:middle;
    display:inline-block;
}

.navbar-brand .glyphicon{
    font-size:32px;
    vertical-align: middle;
    margin-right: 10px;
}


.navbar-inverse .navbar-brand {
    color:#fff;
}


.home-search-form {
    margin-right: 10px;
}

.btn-search {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse{
    background-color:#23303a;
}

.navbar-nav > li > a {
    font-size: 16px;
}

#txtPesquisaCurso{
    background-color: rgba(255, 255, 255, 0.06);
    color:#fff;
    border: none;   
}




.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ecf0f1;
  color: #2c3e50;
  padding-top: 20px;
}


#detalhes-inicio div{
    text-align:center;
}

#detalhes-inicio div .glyphicon{
    font-size: 50px;
    color: #15a589;
}

.aoxo{
    
    font-family: verdana;
}

.aoxo .a{
    color: #15a589;
}

.aoxo .o{
    color:#d3532a;
}
.aoxo .x{
    color: #748fbf;
}
.aoxo .q{
    color: #ce88de;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #15a589;
}